{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krysllane Nascimento</title>
    <link rel="stylesheet" href="{% static 'css/style-krysllane.css' %}">
</head>
<body>
    <section>
        <div class="circle"></div>
        <header>
            <a href="{% url 'inicial' %}"><img src="{% static 'imagem/lg.jfif' %}"  class="logo"></a>
        </header>
        <div class="content">
            <div class="textBox">
                <h2>Technology moves <br>The <span>World</span></h2>
                <p>(Steve Jobs)</p>
                <br><br>
                <p>Olá, meu nome é Krysllane Nascimento e atualmente estou em transição de carreira para a área da Tecnologia, sou movida a desafios e conseguir me encontrar nessa área, gosto das muitas possibilidades que a tecnologia oferece, esse é com certeza  o Ecossistema que eu quero contribuir e fazer parte! <br> Estou em busca da minha primeira Oportunidade como Dev, cliclando no botão roxinho você consegue conhecer alguns dos meus projetos e entrar em contato comigo!</p>
                <a href="https://linktr.ee/krysllanenascimento" target="_blank">Venha me conhecer !</a>
            </div>
            <div class="imgBox">
                <img src="{% static 'imagem/krys-foto.png' %}" class="starbucks">
            </div>
        </div>
        <ul class="sci">
            <li><a href="#"><img src="{% static 'imagem/facebook.png' %}"></a></li>
            <li><a href="#"><img src="{% static 'imagem/twitter.png' %}"></a></li>
        </ul>
    </section>

    
</body>
</html>

{% endblock %}
