@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(fundo.jpg);
}
.center{
    display: flex;
    flex-wrap: nowrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;

}
header{
    padding: 20px 0;
}
.logo{
    width: 50%;

}
.menu{
    width: 70%;
    text-align: right;
    padding-top: 30px;
}
.menu a{
    color: #d1a669;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    font-size: 20px;
    margin-right: 30px;
    margin-left: 30px;


}
.teste{
    width: 100%;
}
h2{
    color: #d1a669 ;
    text-align: center;
    margin-top: 100px;
    margin-left: -200px;
    font-size: 50px;
}
.fotos{
    width: 960px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fotos img {
    margin: 0 10px;
}
.dois{
    border-radius: 150px ;
}
.tres{
    border-radius: 250px;
}
.um{
    border-radius: 250px;
}