* {
    margin: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 10px;
    column-gap: 30px;
    padding: 16px;
    height: 500px;
    gap: 40px;
  }

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    row-gap: 10px;
    column-gap: 30px;
    padding: 16px;
    height: 500px;
    gap: 10px 30px;
}

.foto1 {
  /* indiferente: */
  background-color: #c6d8f0;
  height: 150px;
  width: 150px;
  font-size: 40px;
  border-radius: 150px;
}
body{
    background: linear-gradient(to right, #fefdfc 0%, #00ffb3 100%);
}
img{
    text-align: center;
}
h2{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    row-gap: 10;
    font-style: oblique;
}
.link{
  height: 50px;
  width: 50px;
  font-size: 40px;
  border-radius: 150px;
}
.git{
    height: 50px;
    width: 50px;
    font-size: 40px;
    border-radius: 150px; 
}
.face{
  height: 50px;
  width: 50px;
  font-size: 40px;
  border-radius: 150px;
}
p{
    font-size: 20px;
    font-style: oblique;
}